.root {
    @apply cursor-pointer select-none relative inline-flex items-center gap-[1em] hover:text-primary-0;
    input {
        @apply hidden;
    }
    &::after, &::before {
        content: "";
        @apply h-[1.25em] rounded-[2em] text-[1.25em];
    }
    &::before {
        @apply w-[2em] bg-light-3;
        transition: linear 0.1s background-color;
    }
    &::after {
        @apply absolute w-[1.25em] bg-surface scale-75 left-0;
        transition: linear 0.1s left;
    }
    &:has(:checked) {
        &::after {
            @apply left-[0.75em];
        }
        &::before {
            @apply bg-primary-0;
        }
    }
}