.root {
    li {
        display: grid;
        grid-template-columns: 40% 40% 1fr; 
        padding: .625rem .5rem;
        &:not(:last-child) {
            border-bottom: 1px solid var(--accent-5);
        }
        &::after {
            content: attr(accuracy);
            text-align: right;
        }
        &::before {
            content: attr(movement);
        }
        &:not(:first-child) {
            &::before {
                font-weight: 600;
            }
        }
    }
}