.description {
    textarea{
        transition: linear 0.3s all;
        min-height: 0;
        min-height: 1.5em;
        &:focus {
            min-height: 3.7em;
        }
    }
}
.border {
    border: 0.125rem solid var(--accent-6);
}
.main {
    grid-template-columns: auto 1fr;
    gap: .5rem 2rem;
}

.btn {
    color: var(--accent-4);
    &:hover {
        color: var(--primary);
        border-color: currentColor;
    }
}

.btn2, .btn {
    padding: 0.54rem;
}

.btn2 {
    background-color: var(--accent-6);
}