.root {
    gap: 0 0.5em;
    @apply leading-3 flex items-center;
    &[subtitle] {
        @apply grid;
        grid-template-columns: auto 1fr;
        &::after {
            content: attr(subtitle);
            @apply text-xs text-gray-0;
        }
    }
    &[name]::before {
        content: attr(name);
        @apply font-semibold;
    }
    [class *= "UserAvatar"] {
        grid-row: 1/3;
        order: -1;
    }
}