.root {
    gap: 0 0.5em;
    grid-template-columns: auto 1fr;
    @apply leading-3 items-center grid;
    &[subtitle] {
        &::after {
            content: attr(subtitle);
            @apply text-xs text-gray-0;
        }
    }
    &[name]::before {
        content: attr(name);
        @apply font-bold;
    }
    [class *= "UserAvatar"] {
        grid-row: 1/3;
    }
}