.root {
    @apply w-32 text-center items-center flex flex-col relative gap-1 text-sm;
    &:first-child {
        width: 9.5rem;
        font-size: 1rem;
        border-radius: 1rem;
        [class *= "UserAvatar"] {
            font-size: 2.19rem;
        }
        >img {
            @apply h-10 -top-8;
        }
        @media (max-width: 1300px) {
            width: 8.5rem;
            >img {
                @apply h-9 -top-7;
            }
            [class *= "UserAvatar"] {
                font-size: 1.75rem;
            }
        }
    }
    &:nth-child(2) {
        @apply -order-1;
    }
    [class *= "UserAvatar"] {
        font-size: 1.425rem
    }
    >img {
        top: -1.4rem;
        @apply absolute h-7;
    }
    >p {
        @apply opacity-80 text-xs;
    }
}