.root {
    @apply border-2 border-light-0 px-[1em] rounded-[0.75em] justify-center flex items-center min-h-[3em] gap-[0.8em];
    input {
        @apply hidden;
    }
    &[title]::before {
        content: attr(title);
    }
    &:not(:disabled) {
        &:hover, &:has(:checked) {
            @apply border-primary-0 cursor-pointer;
        }
        &:has(:checked) {
            &::after {
                @apply border-primary-0;
                background: radial-gradient(circle, #024BAC 50%, #00000000 50%);
            }
            @apply bg-primary-2;
            &:has([type = "radio"]) {
                @apply cursor-none;
            }
        }
    }
    &[class *= "contain-checkbox"] {
        @apply justify-start;
        &::after {
            content: '';
            @apply w-[1em] h-[1em] border-2 rounded-full border-gray-0 -order-1;
        }
    }
}