.root {
    @apply relative flex overflow-hidden;
    &::after {
        content: "";
        padding-top: var(--height);
    }
    img {
        @apply object-cover;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}