$left: 1em;

.Input-Wrapper {
    @apply relative flex flex-wrap leading-3 items-center border-1 text-light-3 rounded-[0.75em];
    
    textarea {
        resize: none;
    }

    legend {
        @apply max-w-0 h-0 transition-all invisible;
        margin-left: $left
    }

    label {
        @apply absolute top-[1em] transition-all origin-left font-normal;
        left: $left;
    }

    .Error {
        @apply hidden;
    }

    &:has(:disabled) {
        cursor: not-allowed;
    }
}

.Field {
    background: none;
    outline: none;
    padding: calc($left - 2px);
    @apply text-dark-0 flex-1 min-w-0 z-1 rounded-inherit;

    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active {
        -webkit-box-shadow: 0 0 0px 1000px white inset;
        background-color: white;

    }
}

.Input-Wrapper {
    .Field {

        &:focus,
        &:not(:placeholder-shown) {
            ~label {
                margin-top: -($left * 1.45);
                // @apply scale-75;
                font-size: 0.8em;
                left: $left + 0.1em;
                @apply z-1;
            }

            ~legend {
                font-size: 0.8em;
                @apply max-w-96 px-[0.1em];
            }
        }
    }

    &:has(:focus) {
        @apply text-primary-0;
    }
}

.Input-Wrapper:has(.Input-Blur) form.submitted .Input-Wrapper {

    &:has(:invalid),
    &:has(.invalid) {
        @apply border-red-0;

        label {
            @apply text-red-0;
        }

        .Error {
            @apply block;
        }
    }
}