.main {
    @apply flex flex-col min-h-[30rem] text-nowrap;
    >label:not(:first-child) {
        @apply flex items-center py-2 border-t-1;
        &:hover + label {
            @apply border-t-primary-0;
        }
        span[ticker]{
            &::before {
                content: attr(ticker);
                width: 5.5rem;
                display: inline-block;
                color: var(--text);
            }
        }
        &:hover {
            &, & + label {
                border-color: var(--primary-lighten-2);
            }
            span[ticker]::before {
                color: inherit;
            }
        }
    }
}

.root {
    min-height: 39rem;
}