.main {
    @apply grid;
    >label:not(:first-child) {
        display: flex;
        padding: 0.5rem 0;
        border-top: 1px solid var(--accent-6);
        span[ticker]{
            &::before {
                content: attr(ticker);
                width: 5.5rem;
                display: inline-block;
                color: var(--text);
            }
        }
        &:hover {
            &, & + label {
                border-color: var(--primary-lighten-2);
            }
            span[ticker]::before {
                color: inherit;
            }
        }
    }
}

.root {
    min-height: 39rem;
}