.main {
    @apply flex flex-col min-h-[30rem] text-nowrap text-gray-1;
    >label:not(:first-child) {
        @apply flex items-center py-3 border-b-1 border-light-0;
        &::before {
            width: 4.25rem;
            @apply text-dark-0 font-semibold;
        }
        &:hover {
            @apply no-underline;
            border-color: var(--primary-lighten-2);
            span[ticker]::before {
                color: inherit;
            }
        }
    }
}

.root {
    min-height: 39rem;
}