@import './buttons-var.scss';


.btn-icon {
    width: 1.9em;
    height: 1.9em;
    border-radius: 0.44em;
    @extend .btn, .btn-hover;
    &.no-space {
        margin: -0.625em;
    }
}

.btn-primary, .btn-ghosted {
    @extend .btn, .btn-hover;
    @apply px-[2em] gap-[1em] font-semibold h-[2.6874em] rounded-[.75em];
}

.btn-primary {
    @apply bg-primary-0 text-surface;
    &.bg-surface {
        @apply text-dark-0;
    }
    &.bg-light-1 {
        @apply text-primary-0;
    }
}

.btn-ghosted {
    @apply text-primary-0;
}

.btn-text {
    @extend .btn;
    @apply gap-[0.5em] text-primary-0;
    &:hover:not(:active) {
        @apply underline cursor-pointer;
    }
    &.btn-select {
        &::after {
            content: '';
            @apply border-1 w-[0.5em] mb-[0.2em] h-[0.5em] rotate-45 border-t-none border-l-none rounded-tl-6;
        }
    }
}