.cont-l,
.cont {
    margin-left: var(--cont);
}

.cont-r,
.cont {
    margin-right: var(--cont);
}

.cont-pl,
.cont-p {
    padding-left: var(--cont);
}

.cont-pr,
.cont-p {
    padding-right: var(--cont);
}


.cont-sm-l,
.cont-sm {
    margin-left: var(--cont-sm);
}

.cont-sm-r,
.cont-sm {
    margin-right: var(--cont-sm);
}

.cont-sm-pl,
.cont-sm-p {
    padding-left: var(--cont-sm);
}

.cont-sm-pr,
.cont-sm-p {
    padding-right: var(--cont-sm);
}