.cont-l,
.cont {
    margin-left: var(--cont);
}

.cont-r,
.cont {
    margin-right: var(--cont);
}

.cont-pl,
.cont-p {
    padding-left: var(--cont);
}

.cont-pr,
.cont-p {
    padding-right: var(--cont);
}


.cont-v2-l,
.cont-v2 {
    margin-left: var(--cont-v2);
}

.cont-v2-r,
.cont-v2 {
    margin-right: var(--cont-v2);
}

.cont-v2-pl,
.cont-v2-p {
    padding-left: var(--cont-v2);
}

.cont-v2-pr,
.cont-v2-p {
    padding-right: var(--cont-v2);
}