.cont-l,
.cont {
    margin-left: var(--cont);
}

.cont-r,
.cont {
    margin-right: var(--cont);
}

.cont-pl,
.cont-p {
    padding-left: var(--cont);
}

.cont-pr,
.cont-p {
    padding-right: var(--cont);
}

.cont-gap {
    gap: var(--cont-normal);
}