.Dialog {
    @extend .fixed-full, .flex-middle;
    @apply z-9 bg-normal bg-opacity-80;
    animation: Dialog 0.1s forwards;
    >div {
        @apply bg-surface p-4;
        animation: ScaleAnimation 0.3s forwards;
    }
}

#Modals ~ #root {
    @apply max-h-screen overflow-hidden;
}

@keyframes Dialog {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes ScaleAnimation {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}