.Dialog {
    @extend .fixed-full, .flex-middle;
    @apply z-9 text-dark-1 bg-opacity-80;
    animation: Dialog 0.1s;
    >div {
        @apply bg-surface p-4;
        animation: ScaleAnimation 0.3s;
    }
    &.close {
        @apply transition-opacity opacity-0 duration-300;
        >div {
            @apply transition-transform scale-0;
        }
    }
}

#Modals ~ #root {
    @apply max-h-screen overflow-hidden;
}

@keyframes Dialog {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes ScaleAnimation {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}