#popup-wrapper {
    >div {
        background: #fff;
        z-index: 1000;
        padding: 2rem;
    }
    &:not(:empty) {
        position: fixed;
        background-color: rgba($color: #000000, $alpha: 0.8);
        top: 0;
        left: 0;
        right: 0;
        height: 100%;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        overflow: auto;
        align-items: center;
        justify-content: center;
        z-index: 1000;
    }
}