:root {
    --app-height: 100dvh;
    --nav-height: 3.25rem;
    --border-width-1: 2px;
    --border-width-2: 4px;
    --font-size: 20px;
    --cont: calc(50% - 37.5rem);
}


@media (max-width: 2500px) {
    :root {
        --font-size: 18px;
        --border-width-1: 2px;
        --border-width-2: 3px;
    }
}

@media (max-width: 2000px) {
    :root {
        --font-size: 16px;
        --border-width-1: 1px;
        --border-width-2: 2px;
    }
}

@media (max-width: 1400px) {
    :root {
        --cont: clamp(1rem, 2.5vw, 4rem);
    }
}

@media (max-width: 1200px) {
    :root {
        --font-size: 15px;
    }
}

@media (max-width: 1023px) {
    :root {
        --font-size: 16px
    }
}

@media (max-width: 500px) {
    :root {
        --nav-height: 2.75rem;
    }
}

@media (max-width: 380px) {
    :root {
        --font-size: 15px
    }
}

@media (max-width: 350px) {
    :root {
        --font-size: 14px
    }
}